:root {
  --primary: #1c4587;
  --text-light: #f2f3eb;
  --primary-lighten: #cde2f7;
}

* {
  box-sizing: border-box;
}

header {
  background-color: var(--primary);
  color: var(--text-light);
  text-align: center;
  padding: 0.1%;
  margin-bottom: 1.5%;
  width: 100%;
  font-size: 1rem;
  height: 10%;
  margin-top: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-height: 100vh;
  padding-bottom: 3%;
  padding-top: 1.5%;
}

footer {
  background-color: var(--primary);
  padding: 3%;
  z-index: 100;
  width: 100%;
  position: absolute;
  bottom: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.d-flex {
  display: flex;
}

.article-title {
  border-top: 1.5rem solid var(--primary-lighten);
  align-items: center;
  width: fit-content;
  position: relative;
  margin-left: 35%;
}

.main-article {
  width: 85%;
  padding: 0 10%;
  text-align: justify;
}

.side-article {
  width: 15%;
  margin-right: 2%;
  margin-left: -5%;
}

.article-image {
  height: 10rem;
  width: 10rem;
  align-content: center;
  margin-right: 5%;
}

@media screen and (max-device-width: 700px) {
  main {
    width: 80%;
  }
}